In [1]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/dataHandling.py').text)

In [2]:
A=initpd("n",n=10,p=5)
A

         X1        X2        X3        X4        X5
0 -1.096495  2.357615 -1.208120 -1.571470 -0.236934
1 -1.682816  2.063483 -0.766463  0.077582  0.147023
2  0.332787  0.880343  0.270236  0.024754  1.437599
3  0.686402 -0.400142 -1.601795  0.674124  0.187357
4  0.875262 -0.385378 -0.637332 -0.221818 -1.467406
5 -0.103793 -0.278578  0.024487  0.754059 -0.615995
6 -0.889637  0.859463  0.200139  0.726124 -0.714427
7 -1.681975  0.277448 -1.025970 -0.394335  0.692276
8  0.799586 -1.669394  0.335883 -0.784234 -1.684406
9  0.630559 -1.535315 -0.860003  2.659392  0.223503

In [3]:
vindex=cc(1,3)*2-2
vindex

array([0, 2, 4])

In [4]:
A.iloc[:,vindex]

         X1        X3        X5
0 -1.096495 -1.208120 -0.236934
1 -1.682816 -0.766463  0.147023
2  0.332787  0.270236  1.437599
3  0.686402 -1.601795  0.187357
4  0.875262 -0.637332 -1.467406
5 -0.103793  0.024487 -0.615995
6 -0.889637  0.200139 -0.714427
7 -1.681975 -1.025970  0.692276
8  0.799586  0.335883 -1.684406
9  0.630559 -0.860003  0.223503